.site-hero {
  min-height: auto;
}
body {
    background: #f5f6f7; 
}
.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: 55% 30%;
  transform: scale(1.03) scaleX(-1);
}
.hero {
    padding: 40px 0 10px 0;
}
.hero__subtitle {
    margin: 0;
}
.hero__title--light {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-accent);
}
.hero__title {
    width: initial;
    max-width: initial;

}
.wrapper {
    /* display: none; */
}
.loader {
    position: absolute;
    inset: 0;
    background-color: #f5f6f7;
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    display: none;
}
.span {
    display: inline-block;
    width: 70px;
    height: 30px;
    position: relative;
}
.span::before,
.span::after {
    content: '';
    position: absolute;
    height: 30px;
    box-shadow: 0 5px 15px 0 rgba(255, 255, 255, 0.5) inset;
    width: 30px;
    border-radius: 50%;
}

.span::before {
    left: 0;
    z-index: 3;
    animation: accent 1.5s infinite linear;
    background-color: var(--color-accent);
}

.span::after {
    z-index: 2;
    isolation: isolate;
    right: 0;
    animation: bg 1.5s infinite linear;
    background-color: var(--color-secondary);
}

@keyframes accent {
    50% {
        left: 60%;
        z-index: 3;
    }

    100% {
        left: 0;
        z-index: 1;
    }
}

@keyframes bg {
    50% {
        right: 60%;
    }

    100% {
        right: 0;
    }
}

.art-btn {
    width: initial;
    display: inline-flex;
}
.download {
    width: initial;
    display: inline-flex;
    margin: 20px 0 0 0;
}
.download-icon {
    width: 20px;
    height: 20px;
    fill: white;
}
.download-icon2 {
    width: 20px;
    height: 20px;
}
.text {
    padding: 20px 0;
}
.text p {
    padding: 10px;
}
.text-container {
    margin-inline: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.art-footer {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
/* #articleContent  {
    color: red;
} */
@media (min-width: 768px) {
    .text-container,
    .art-footer {
        width: 60%;
    }
}
